#navigationMenuContainer {
    position: fixed;
    right: 0;
    top: 52px;
    height: 230px;
    width: 375px;
    transition: .5s;
    z-index: 900;
    transform: scaleX(0);
    transition: right .2s ease;
    transform-origin: right;

}

#navigationMenuContainer.drawer {
    transform: scaleX(1);
    transition: transform .2s ease;
}

@media only screen and (max-width: 500px){
    #navigationMenuContainer {
        width: 100%
    }
}
