#navCard {
    float: left;
    height: 25%;
    width: 100%;
    background: rgb(54, 69, 83);
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: white;
    text-align: right;
    transition: .5s;
    border-bottom: 3px white solid;
}

#navCard:hover {
    background: rgb(85, 111, 134);
}

#navCard.dark {
    transition: .5s;
    background: rgb(99, 137, 172);
}

#navCard.dark:hover {
    background: rgb(91, 113, 134);
}

#navCard.linkActive {
    border-left: 15px solid white;
    background: rgb(85, 111, 134);
}

#navCard h1 {
    margin: 5px 35px 10px 10px;
}